<div class="text-lg block my-3 w-72">
  <%= link_to quote.name, quote_path(quote) %>
  <div class="block">
    <div class="inline-block ml-2">
      <%= link_to "Edit",
                  edit_quote_path(quote),
                  class: "btn bg-gray-100" %>
    </div>

    <div class="inline-block ml-2">
      <%= button_to "Delete",
                    quote_path(quote),
                    method: :delete,
                    class: "btn bg-red-100" %>
    </div>
  </div>
</div>