<%= simple_form_for quote, html: { class: "mb-7" } do |f| %>
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="mb-5">
    <%= f.input :name, input_html: { autofocus: true }, placeholder: "Add new quote", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
    <%= f.submit class: "btn py-2 ml-2 bg-blue-600 text-white" %>
  </div>
<% end %>